$white: #fff;
$bg-gradient: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
$bg-gradient-safe: rgb(50,108,255);
$r_minmob:            320px;
$r_mob_360:           360px;
$r_mob_400:           400px;
$r_mob_500:           500px;
$r_mob_600:           600px;
$r_tab:               768px;
$r_desk:             1000px;
$r_desk_hd:          1200px;


html{
	font-size: 10px;
}


body{
	background: #000;
	color: #fff;
	font-size: 16px;
	font-family: Mulish;
	@media (max-width: $r_tab) {
        font-size: 14px;
    }
	
}

button{
	&:focus{
		outline: none;
	}
}

.container{
	max-width: 144rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin: 0 auto;
}