include libs/_libs

section.section
	.container 
		h2.section__h2 
			a(href="#").section__h2-link  Trending TV Shows
		.movies 
			+movies-item(1)
			+movies-item(2)
			+movies-item(3)
			+movies-item(4)
			+movies-item(5)
			+movies-item(6)
			
section.section
	.container 
		h2.section__h2 
			a(href="#").section__h2-link  Trending Movies
		.movies 
			+movies-item(2)
			+movies-item(2)
			+movies-item(3)
			+movies-item('1')
			+movies-item('1')
			+movies-item('1')
		button.section__btn See more